*{
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .background img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 0;
  }
  .navition_bar{
    display: flex;
    position: relative;
  }
  
  .navition_bar .nav{
    position: fixed;
    height: 100%;
    width: 7.5%;
    padding: 20px;
  
    
  }
  .nav .selected{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    list-style: none;
  }
  
  
  .selected li .logo_selected{
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    border: 3.5px solid #fc840c;
    position: relative;
    display: flex;
    background:#ecc59e;
    box-shadow: 0 0 0 2px var(--clr),
                0 0 35px var(--clr),
                0 0 55px var(--clr),
                0 0 110px var(--clr),
                0 0 440px var(--clr);
  
  
  }
  .navition_bar ul{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .navition_bar ul li {
    align-items: center;
    list-style: none;
  }
  .navition_bar ul li a{
   
    display: flex;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
    border-radius: 50%;
    border: 3.5px solid #fc840c;
  }
  .navition_bar ul li:hover a{
    background: var(--clr);
    font-size: 2.5rem;
    box-shadow: 0 0 0 2px var(--clr),
                0 0 35px var(--clr),
                0 0 55px var(--clr),
                0 0 110px var(--clr),
                0 0 440px var(--clr);
  }
  
  .navition_bar ul li:hover img{
    width: 120px;
    height: 120px;
    transition: 0.5s;
  }
  
  .navition_bar ul li span{
    position: absolute;
  
    justify-content: center;
    text-align: center;
    left: 30%; /* Initially position the text outside the circle on the right */
    font-size: 1.2rem;
    color: var(--clr);
    opacity: 0;
    z-index: 0; /* Ensure the text is behind the logo */
    transition: 0.5s;
    
  }
  
  .navition_bar ul li:hover span{
    left: calc(80% + 5px); /* Move the text to the right side of the circle on hover */
    opacity: 1;
  }
  
  
  .navition_bar .content{
    width: 100%;
    margin-left:192px;
  }
  .navition_bar .content header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
  }
  
  .navition_bar .content header img{
    height:250px; 
    width:250px;
  
  }
  /*cards*/
  .pal_container {
    display: flex; /* Use flexbox for the container */
    flex-wrap: wrap; 
    justify-content: space-evenly; 
  }
  
  .sec {
    background-size: cover;
    background-position: center;
    width: 30%;
    text-align: center;
    position: relative;
    border-radius: 30px;
    transition: all .5s ease-in-out;
    transform: scale(0.9);
    border: 2px solid #999999;
    margin: 10px; 
    margin-bottom: 70px;
  }
  
  .sec:hover {
  transform: scale(0.8);
  }
  
  .bg1 {
  background-image: url(../images/plate/fire/ArsoxPlate.png);
  }
  
  .bg2 {
  background-image: url(../images/plate/fire/FoxparksPlate.png);
  }
  
  .bg3 {
  background-image: url(../images/plate/fire/JormuntideIgnisPlate.png);
  }

  .bg4 {
  background-image: url(../images/plate/fire/ReptyroPlate.png);
  }

  .bg5 {
  background-image: url(../images/plate/fire/RoobyPlate.png);
  }

  .bg6 {
  background-image: url(../images/plate/fire/VanwyrmPlate.png);
  }
  
  .sec img {
  width: 100%;
  opacity: 0;
  transition: all .5s ease-in-out;
  }
  
 
  
  .sec:hover img {
  transform: scale(1.4);
  opacity: 1;
  }
  
  /*RESPONSIVE CODE*/



@media (max-width: 1024px) {
  .navition_bar .nav{
    width: 15%;
  }
  .selected li .logo_selected{
    width:100px;
    height: 100px;
    margin-bottom: -5px;
  }
  
  .selected li .logo_selected img {
    width: 150px;
    height: 150px;
  }
  .navition_bar ul li a{
    width: 65px;
    height: 65px;
    margin-bottom:15px;
  }
  .navition_bar ul li a img{
    width: 100px;
    height: 100px;
  }
  .navition_bar ul li:hover img{
    width: 100px;
    height: 100px;
  }
  
  

}





@media  only screen and (max-width: 900px) {

.sec {
  width: 40%;
  margin-bottom: 20px;
}
.navition_bar .nav{
  width: 20%;
}
.navition_bar .content header img{
  height:150px; 
  width:150px;
}
.navition_bar .content{
  width: 100%;
  margin-left:180px;
}
.selected li .logo_selected{
  width:100px;
  height: 100px;
  margin-bottom: -5px;
}

.selected li .logo_selected img {
  width: 150px;
  height: 150px;
}
.navition_bar ul li a{
  width: 65px;
  height: 65px;
  margin-bottom:13px;
}
.navition_bar ul li a img{
  width: 100px;
  height: 100px;
}
.navition_bar ul li:hover img{
  width: 100px;
  height: 100px;
}


}



@media only screen and  (max-width: 600px) {

.sec {
  width: 100%;
  margin-bottom: 10px;
}
.sec:hover img {
  transform: scale(1.2); 
}


.navition_bar .nav{
  width: 32%;
}

.selected li .logo_selected{
  width:80px;
  height: 80px;
  margin-bottom: -5px;
}

.selected li .logo_selected img {
  width: 100px;
  height: 100px;
}
.navition_bar ul li a{
  width: 55px;
  height: 55px;
  margin-bottom: 25px;
}
.navition_bar ul li a img{
  width: 70px;
  height: 70px;
}
.navition_bar ul li:hover img{
  width: 100px;
  height: 100px;
}

.navition_bar ul li span{
  position: absolute;
  z-index: 0;
  opacity: 1;
  left: 30%;
  margin-top: 80px;
  border-bottom-width:  calc(100% + 100px);
 

}
.navition_bar ul li span img{
width: 60px;
height: 60px;
 

}

.navition_bar .content{
  width: 70%;
  margin-left:160px;
}

.navition_bar .content header img{
  height:140px; 
  width:140px;
}
  
.navition_bar ul li:hover span{
  left: calc(25% + 5px); /* Move the text to the right side of the circle on hover */
 
}
.navition_bar ul li:hover img{
width: 70px;
height: 70px;
transition: 0.5s;
}
}

  